$body-background: #313338 !default;
$body-color: #b2b7be !default;
$post-title-color: #f2f3f5 !default;

$sidebar-menu-color: #999da3 !default;
$sidebar-menu-active-background: #5865f2 !default;
$sidebar-menu-background: #2b2d31 !default;

$card-background: #232428 !default;
